:root {
  --sea: #2f5d62;
  --black: #000000;
  --gold: #ffe268;
  --orange: #ffb037;
  --purp: #584082;
}
body {
  color: var(--orange);
}

.header {
  background-color: var(--sea);
  height: 30em;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}
table tr td {
  border: 2px solid orange;
}
