@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

:root {
  --red: #a51504;
  --yellow: #d7d758;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin: 0;
  color: white;
}
.brand-id {
  text-align: justify;
  font-size: 1.3rem;
  font-family: "Zen Dots", cursive;
  color: var(--yellow);
  width: 10em;
  vertical-align: baseline;
}
.main-header {
  display: flex;

  background-color: var(--red);
  width: 100%;
  padding: 0.5em;
  /* vertical-align: middle; */

  box-shadow: 10px 3px 4px rgb(62, 17, 17);
  /* z-index: 10; */
}

.main-nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  width: calc(100% - 3px);
  vertical-align: middle;
}

.main-nav-items {
  margin: 0;
  display: inline-block;
  padding: 0;
  list-style: none;
}

.main-nav-item {
  display: inline-block;
  padding-right: 1em;
}

.main-nav-item > img {
  height: 2rem;
  border-radius: 50%;
  padding: 1px;
}

.banner-div {
  width: 100%;
  height: 40vh;
  background: url("./images/headerphoto.jpg");
  /* margin-top: 5rem; */
  /* position: absolute;
  z-index: 0; */
}
.footer {
  bottom: 0;
  height: 4rem;
  background-color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  padding: 2em;
  font-size: 0.8rem;
}

@media (min-width: 650px) {
  h1 {
    display: inline-block;
  }
  body {
    background-color: green;
  }
  header {
    font-size: 1rem;
    background-color: red;
  }
}

/* .brand-id {
  font-size: 2rem;
  color: rgb(58, 204, 70);
  width: 10em;
} */

table {
  table-layout: fixed;
  width: 100%;
  border: thin solid var(--red);
  padding: 0.5em;
  font-size: 0.5rem;
  margin-bottom: 2em;
}

td {
  border: thin solid var(--red);
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
input {
  font-size: 0.7rem;
}
