@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin: 0;
  color: white;
}
#root {
  position: relative;
  flex-grow: 1;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
  padding-left: 10rem;
  /* background-color: #020202; */
  background-image: url("./images/headerphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
}
header > ul img {
  height: 2rem;
  border-radius: 50%;
  padding: 1px;
}
header > ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.auth-link:hover {
  cursor: pointer;
}
header > ul li {
  margin-right: 3em;
}
/* 
main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
} */

article {
  display: flex;
  justify-content: space-between;
  /* background-color: #d22020; */
  width: 30rem;
  color: white;
  margin: 0.1rem;
}

article > div {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
#table-button-delete {
  /* background-color: rgb(69, 47, 4); */
}
#table-button-edit {
  /* background-color: rgb(30, 84, 104); */
}
#table-buttons {
  width: 1%;
  white-space: nowrap;
  padding: 0.5em;

  border-radius: 10%;
}

#table-button-edit:hover {
  cursor: pointer;
  background-color: rgb(146, 237, 100);
}

#table-button-delete:hover {
  cursor: pointer;
  background-color: rgb(188, 199, 65);
}

label {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: white;
  padding: 0.2em;
}

input,
select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.2rem;
  color: #000000;

  -webkit-appearance: none;
}

input[type="text"]:focus {
  background-color: rgb(97, 195, 228);
}

button {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  /* margin: 0.2; */
  padding: 0.4rem;
  background-color: #248a2b;
  color: white;
  border: thin solid black;
  border-radius: 5%;

  outline: none;
}

button:hover {
  color: white;
  background-color: #979af4;
}

.headerTitle {
  font-size: 3rem;
  font-family: "Knewave", cursive;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 4rem;
  background-color: yellow;
  width: 100%;
  text-align: center;
  padding: 2em;
}
.mainDiv {
  margin-bottom: 5em;
}
.headerphoto {
  width: 100%;
  height: auto;
}
.workoutChoice {
  display: inline-block;
}

.styled-table {
  border-collapse: collapse;
  border: thin solid white;

  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  /* background-color: #009879; */
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #009879;
}

.styled-table tbody tr:last-of-type {
  /* border-bottom: 2px solid #009879; */
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #ffffff;
}
.form-container {
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
}

.table-form {
  border-collapse: seperate;
  border: 1px solid white;
  text-align: center;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-form:hover {
  border: thin solid rgb(206, 206, 129);
}
.table-form thead tr {
  /* background-color: #ddae14; */
  color: #ffffff;
  text-align: center;
}
.table-form th,
.table-form td {
  padding: 0.5em;
}

.table-form tbody tr:nth-of-type(odd) {
  background-color: #009879;
}

/* .table-form tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */
