@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin: 0;
}
#root {
  position: relative;
  flex-grow: 1;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
  padding-left: 1rem;
  /* background-color: #020202; */
  /* background-image: url("./images/headerphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat; */

  color: white;
}
header > ul img {
  height: 2rem;
  border-radius: 50%;
  padding: 1px;
}
header > ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.auth-link:hover {
  cursor: pointer;
}
header > ul li {
  margin-right: 100px;
}

main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  justify-content: space-between;
  background-color: #d22020;
  width: 30rem;
  color: white;
  margin: 0.1rem;
}

article > div {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

article > div:nth-child(2) {
  width: 2rem;
  background-color: #21aabf;
}

article > div:nth-child(3) {
  width: 2rem;
  background-color: #98a927;
}

article > div:nth-child(2):hover,
article > div:nth-child(3):hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px #808080;
}

label {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: white;
  padding: 0.2em;
}

/* label span {
  color: #ffffff;
  width: 14.5rem;
} */

input,
select {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem;
  color: #6100fe;
  border: 2px solid #737495;

  -webkit-appearance: none;
}

input[type="text"]:focus {
  background-color: rgb(97, 195, 228);
}

button {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0 0 auto;
  padding: 0.4rem;
  background-color: #fb050d;
  color: white;
  border: none;
  outline: none;
}

button:hover {
  color: white;
  background-color: #979af4;
}

table,
tr,
td {
  border: 3px solid orange;
}

.headerTitle {
  font-size: 3rem;
  font-family: "Knewave", cursive;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 4rem;
  background-color: yellow;
  width: 100%;
  text-align: center;
  padding: 2em;
}
.mainDiv {
  margin: 5em 5em 5em 5em;
}
.headerphoto {
  width: 100%;
  height: auto;
}
