@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

:root {
  --red: #a51504;
  --yellow: #d7d758;
  --theme1: #ffffff;
  --theme2: #31558c;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin: 0;
  color: white;
  background: url("./images/Artboard6.svg");
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

/* *************** "Home" Landing Page Styles (Additional inline styles on LandingPage.js ***************** */

.login-card {
  background-color: black;
  border: thin solid var(--theme2);
  border-radius: 10px;
  padding: 1em;
  margin: 3em 0.5em;
  box-shadow: 10px 10px 5px black;
  max-width: 500px;
}
/* ****************** "About" Page Styles ******************* */
.about-div {
  background-color: black;
  border: thin solid var(--theme2);
  border-radius: 10px;
  padding: 2em;
  box-shadow: 10px 10px 5px black;
  max-width: 500px;
  margin: 3em auto;
}

/* ****************** Header Styles ******************* */

/* Logo */
.brand-id {
  text-align: justify;
  font-size: 1.3rem;
  font-family: "Zen Dots", cursive;
  color: var(--yellow);
  width: 10em;
  vertical-align: baseline;
}
/* Nav Bar */
.main-header {
  display: flex;
  position: fixed;
  background-color: black;
  color: white;
  width: 100%;
  padding: 0.5em;
  box-shadow: 10px 3px 4px rgb(62, 17, 17);
  z-index: 1;
}

.main-nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  width: calc(100% - 3px);
  vertical-align: middle;
}

.main-nav-items {
  margin: 0;
  display: inline-block;
  padding: 0;
  list-style: none;
}

.main-nav-item {
  display: inline-block;
  padding-right: 0.4em;
  font-size: 1rem;
}

.main-nav-item > img {
  height: 2rem;
  border-radius: 50%;
  padding: 1px;
}

.banner-div {
  width: 100%;
  height: 40vh;
  /* background: url("./images/headerphoto.jpg"); */
  /* margin-top: 5rem; */
  /* position: absolute;
  z-index: 0; */
}

.form-container {
  margin: 0.5em;
}
.footer {
  bottom: 0;

  height: 4rem;
  background-color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  padding: 2em;
  font-size: 0.8rem;
  color: white;
}
form {
  margin: 0.5em;
}

button:hover {
  color: white;
  background-color: var(--yellow);
}

input[type="text"]:focus {
  background-color: var(--yellow);
}

#table-button-edit:hover {
  cursor: pointer;
  background-color: var(--yellow);
}

#table-button-delete:hover {
  cursor: pointer;
  background-color: var(--red);
}

.log-button:hover {
  cursor: pointer;
}
.rect {
  height: 100px;
}

.display-table {
  table-layout: fixed;
  width: 100%;
  border: 5px solid var(--theme2);

  padding: 0.5em;
  font-size: 0.7rem;
  margin-bottom: 5em;
  /* margin-right: 1.5em; */
  background-color: black;
  box-shadow: 5px 5px 5px black;
}

.display-table td {
  border: thin solid white;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  border-radius: 10%;
  padding: 0.5em;
}

.table-form {
  table-layout: fixed;
  width: 100%;
  border: 5px solid var(--theme1);
  padding: 0.5em;
  font-size: 0.7rem;
  margin-bottom: 5em;
  /* margin-right: 1.5em; */
  background-color: black;
  box-shadow: 5px 5px 5px black;
}

.table-form td {
  border: thin solid var(--theme2);
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  width: 100%;
  padding: 0.5em;
}
input {
  font-size: 0.7rem;
}

@media only screen and (min-width: 650px) {
  body {
    /* background: url("./images/Artboard5.svg"); */
  }

  header {
    font-size: 1rem;
    background-color: var(--theme2);
  }

  .login-card {
    margin: 3em auto;
    max-width: 500px;
  }

  .display-table {
    /* table-layout: fixed;
    width: 100%;
    border: 5px solid var(--theme2);
    border-radius: 10%;
    padding: 0.5em;
    font-size: 0.5rem;
    margin-bottom: 2em;
    margin-right: 1.5em;
    background-color: black; */
  }

  /* .display-table td {
    border: thin solid var(--theme2);
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    border-radius: 10%;
  }
  
  .table-form {
    table-layout: fixed;
    width: 100%;
    border: 5px solid var(--theme1);
    padding: 0.5em;
    font-size: 0.7rem;
    margin-bottom: 5em;
    margin-right: 1.5em;
  
    background-color: var(--theme2);
  }
  
  .table-form td {
    border: thin solid white;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 100%;
    padding: 0.5em;
  } */
  /* input {
    font-size: 0.7rem;
  } */
}
